h1{
  margin-bottom:20px;
}

.askbutton {
  height:40px;
  margin-top:4px;
}

footer {
  padding-left:20px;
}

.user_name {
  font-size:14pt;
  font-family:serif;
}

.author {
  color: #cf0000;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial;
  margin-left: 20px;
}

.author a {
  color: #cf0000;
}

.answ_author, .answ_author a {
  color: #666;
  margin: 0 10px;
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
}

.answ_date {
  font-size: 11px;
}

.answer {
  margin: 20px 0;
  padding: 10px;
}

.pubdate {
  margin-left: 20px;
}

.rating {
  margin-left: 20px;
  font-family: Arial;
  font-weight: bold;
}


.like {
  padding: 4px 3px 1px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.like_like {
  color: #C9D8E6;
}

.like_like:hover {
  background-color: #EDF1F5;
}

.like_dislike {
  color: #2f5879;
}

.like_dislike:hover {
  background-color: #EDF1F5;
}


.tags {
  display: inline;
  padding: 5px;
}

.tags li {
  display:inline;
  color: #999;
}

.infopanel {
  padding: 3px 10px;
  border: 1px solid #E5E5E5;
  margin: 10px 0;
}

.question {
  border: 1px solid black;
  margin:10px;
  padding-bottom:5px;
}

.question_side {
  text-align: center;
  padding:10px 0px;
  display:inline-block;
  vertical-align:middle;
  padding-top: 20px;
}

.question_side_wrapper {
  display:inline-block;
  vertical-align:middle;
}

.question_counter{
  display:block;
  width:50px;
  margin:0 auto;
  border:1px solid #bbb;
}

.tag-list{
  display:inline;
}

.tag, .tag a {
  display: inline;
  font-size:11pt;
}

.best_members_list li{
  list-style-type: none;
  font-size:12pt;
}

.nav-img {
  margin:2px 10px;
}

.navbar-right{
  padding-left:20px;
  width:45%;
  min-width:200px;
}

form .row{
  margin:4px 0;
}

.js_answer_delete {
  cursor: pointer;
}
