{% extends "base.html" %}
{% block title %}Ask{% endblock %}
{% block main %}
  <div class="col-md-8">
  <h1>New Question</h1>
  
  <div class="alert alert-danger" id="alert" style="display:none;">
    <a class="close">&times;</a>
    <div class="alert_message"></div>
  </div>
  
  <form action="" method="POST" id="ask_form" style="width:200px; margin:20px 0;">
    {% csrf_token %}
    <div class="form-group">
      {{ form }}
    </div>
    <div class="form-group">
      <input type="submit" value="ASK!" class="btn btn-primary">
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/cookie/jquery.cookie.js"></script>
  <script type="text/javascript">
    $('#ask_form').submit(function() {
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'))
        }
      })
      var _title = $('#ask_form #id_title').val()
      var _text = $('#ask_form #id_content').val()
      var _tags = $('#ask_form #id_tags').val()
      $.post(window.location.href, {title: _title, content: _text, tags: _tags})
      .done(function(data) {
        if (data.status == 'OK') {
          window.location.href = location.protocol + '//'+location.host+data.redirect;
        } else {
          al = $('#alert')
          al.show()
          al.children(".alert_message").text(data.message)
        }
      })
      return false;
    })
    
    $('.close').click(function() {
      $('.alert').hide();
    })
  </script>
{% endblock %}
