{% load best_users %}
{% load best_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <title>{% block title %}Basic page{% endblock %}</title>
  </head>
  <body>
      <header class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-inner">
            <div class="container-fluid">
              <div class="navbar-header">
                <a href="/" class="navbar-brand">AskPupkin</a>
              </div>
              <ul class="nav navbar-nav">
                <li>
                  <form class="navbar-form" role="search" action="/search">
                    <div class="input-group">
                      <input type="text" name="q" class="form-control" autocomplete="off" placeholder="Search"/>
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                  <form class="navbar-form">
                  <a class="btn btn-success btn-sm" href="/ask">ASK!</a>
                  </form>
                </li>
                <li>
                  <img src="{{user.avatar.url}}" width="45" height="45" class="nav-img img-thumbnail" id="#user_avatar" alt="Avatar">
                </li>
                <li class="nav-user">
                  <span class="user_name">{{user.name|escape}}</span>
                  <div class="navbar-inner">
                    <a href="/settings" style="margin-right:10px;">settings</a><br/>
                    <a href="/logout">log out</a>
                  </div>
                </li>
                  {% else %}
                <li class="active">
                  <a href="/login">log in</a>
                </li>
                <li>
                  <a href="/register">register</a>
                </li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
      
  <div class="wrapper container">
      <div class="row">
        <main class="col-md-8">
          {% block main %}{% endblock %}
        </main>
        <footer class="col-md-4">
          {% best_tags  %}
          {% best_users %}
        </footer>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
  </body>
</html>
