<h2>Popular Tags</h2>
<ul class="tag-cloud tag-list" style="padding-left:0px;">
{% for tag in best_tags %}
  <li class="tag"><a class="tag-size-{{tag.count}}" href="/tag/{{tag.word|escape}}">{{ tag.word|escape }}</a>,</li> 
{% endfor %}
</ul>
