{% extends "base.html" %}
{% block title %}Main page{% endblock %}

{% load question_info %}
{% block main %}
  <div class="row">
    <h1 class="col-md-8">Questions</h1>
  </div>
  Order by: <a href="/?order=date">date</a> <a href="/?order=rating">rating</a>
  {% for question in question_list %}
    {% question_info question %}
  {% endfor %}
  <div class="row">
    <div class="col-md-12">
      <ul class="pagination">
        {% if question_list.number > 2 %}
          <li><a href="{{url}}&page=1">1</a></li>
        {% endif %}
        {% if question_list.has_previous %}
          <li><a href="{{url}}&page={{ question_list.previous_page_number }}">{{ question_list.previous_page_number }}</a></li>
        {% endif %}
          <li><a href="{{url}}&page={{ question_list.number }}">{{ question_list.number }}</a></li>
        {% if question_list.has_next %}
          <li><a href="{{url}}&page={{ question_list.next_page_number}} ">{{question_list.next_page_number}}</a></li>
        {% endif %}
        {% if question_list.number < pagenum_minus_one %}
          <li><a href="{{url}}&page={{ question_list.paginator.num_pages }}">{{ question_list.paginator.num_pages }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/cookie/jquery.cookie.js"></script>
  <script type="text/javascript">
  var csrftoken = $.cookie('csrftoken')
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken)
    }
  });
        
  $('.js_like').on('click', function() {
    var like = $(this)
    $.post("/like", {type: like.data('type'), id: like.data('id')})
      .done(function(response) {
          like.parent().children('.js_like_count').text(response.rating)
          like.removeClass('like_'+$('.js_like').data('type')).addClass('like_'+response.status).data('type', response.status)
        })
  });
  </script>
{% endblock %}
