{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-md-8">
      <h1>Log In</h1>
    </div>
  </div>
  <div class="alert alert-danger" id="alert" style="display:none;">
    <a class="close" data-dismiss="alert">&times;</a>
    <div class="alert_message"></div>
  </div>
  <div style="width:200px">
    <form action="" id="login_form" method="POST" remote="true">{% csrf_token %}
      <div class="form-group">
        <label for="username">Login</label>
        <input class="form-control" type="text" id="username" name="username" placeholder="Input your login here" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" id="login_form_password" type="password" name="password" value="" autocomplete="off">
      </div>
      <div class="form-group">
        <input type="submit" value="Log in!" class="btn btn-primary"></br>
        <a href="/login/new">create new account</a>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/cookie/jquery.cookie.js"></script>
  <script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'))
        }
      })
    $('#login_form').submit(function() {
      var un = $('#login_form #username').val()
      var pw = $('#login_form #login_form_password').val()
      $.post(window.location.href, {username: un, password: pw})
      .done(function(data) {
        if (data.status == 'OK') {
          window.location.href = location.protocol + '//'+location.host+data.redirect;
        } else {
          al = $('#alert')
          al.show()
          al.children(".alert_message").text(data.err_message)
        }
      })
      return false;
    })
  </script>
{% endblock %}
