<div class="question row">
  <div class="question_side col-md-2">
    <div class="question_side_wrapper">
      <img src="{{question.author.avatar.url}}" width="50" height="50" class="img-thumbnail" alt="Avatar">
      
      <div>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span class="js_like_count">
          {{ question.rating }}
        </span>
        {% if false %}
        {% csrf_token %}
        <span class="js_like like like_{{ question.liketype }}" data-id="{{ question.id }}" data-type="{{ question.liketype }}">
          <span class="glyphicon glyphicon-heart"></span>
        </span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="question_body col-md-10">
    <div class="question_text row container-fluid">
        <h2>
          <a href="/question?id={{ question.id }}">
            {{ question.title|escape }}
          </a>
        </h2>
        <p>
          {{ question.content|truncatechars:140|truncatewords:50|escape }}
        </p>
    </div>
    <div class="question_meta row">
      <div class="question_answer col-md-3">
        <a href="/question?id={{ question.id }}&action=answer">answer ({{ question.answer_set.count }})</a>
      </div>
      <div class="question_tags col-md-7">
        Tags: <ul class="tag-list">{% for tag in question.tags.all %} <li class="tag"><a href="/tag/{{ tag.word|escape }}">{{ tag.word|escape }}</a>,</li> {% endfor %}</ul>
      </div>
    </div>
  </div>
</div>
