{% extends "base.html" %}
{% block title %}{{ question.title | escape }}{% endblock %}
{% block main %}
  <h1>{{ question.title | escape }}</h1>
  {% if user == question.author %}
  <div>
    <form action="/delete_question" method="POST" name="del">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ question.id }}"/>
      <a href="#" onclick="document.del.submit()">
      <span class="glyphicon glyphicon-trash"></span>
      </a>
    </form>
  </div>
  {% endif %}
  {% for line in content %}
    <p>{{line}}</p>
  {% endfor %}
  
  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
  <ul class="tags">
    {% for tag in question.tags.all %}
      <li>
        <a href="/tag/{{tag.word|escape}}">
          {{tag.word | escape}}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="infopanel">
  <span class="author">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <a href="/user?id={{question.author.id}}">
      {{question.author.username | escape}}
    </a>
  </span>
  <span class="pubdate">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    {{question.date}}
  </span>
  <span class="rating">
    {% if not user.is_authenticated %}
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    {% endif %}
    <span class="js_like_count">
      {{ question.rating }}
    </span>
    {% if user.is_authenticated %}
    {% csrf_token %}
    <span class="js_like like like_{{ liketype }}" data-id="{{ question.id }}" data-type="{{ liketype }}">
      <span class="glyphicon glyphicon-heart"></span>
    </span>
    {% endif %}
  </span>
  </div>
  
  <div id="answer_list">
  {% for answer in answers %}
    <div class="answer {% if answer.is_true %}alert-success{% endif %}" id="answer_{{answer.id}}">
      <div class="info">
        <img src="{{answer.author.avatar.url}}" width="50" height="50" class="img-thumbnail" alt="Avatar">
        <span class="answ_author">
          {{ answer.author.username | escape }}
        </span>
        <span class="answ_date">
          {{ answer.date }}
        </span>
        {% if user == answer.author %}
        <span class="js_answer_delete" data-id="{{ answer.id }}">
          <span class="glyphicon glyphicon-trash" ></span>
        </span>
        {% endif %}
      </div>
      {{answer.content | escape}}
      
      {% if user == question.author %}
      <form class="js_correct">
        {% csrf_token %}
        <input type="hidden" class="js_correct_id" name="id" value="{{ answer.id }}" />
        <input type="checkbox" {% if answer.is_true %}checked="checked"{% endif %} class="js_correct_input" name="checker" value="set" autocomplete="off"/> Correct
      </form>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  
  {% if user.is_authenticated %}
  <form class="answer_form">
  {% csrf_token %}
    <div  class="form-group">
    <input type="hidden" value="{{ question.id }}" name="q_id" class="q_id"/>
    {{ answer_form }}
    </div>
    <input type="submit" value="Submit your answer" class="answer_form_submit btn btn-primary">
  </form>
  {% endif %}
  
  {% if answers.paginator.num_pages > 1 %}
  <div class="row">
    <div class="col-md-12">
      <ul class="pagination">
        {% if answers.number > 2 %}
          <li><a href="{{url}}&answer_id=1">1</a></li>
        {% endif %}
        {% if answers.has_previous %}
          <li><a href="{{url}}&answer_id={{ answers.previous_page_number }}">{{ answers.previous_page_number }}</a></li>
        {% endif %}
          <li><a href="{{url}}&answer_id={{ answers.number }}">{{ answers.number }}</a></li>
        {% if answers.has_next %}
          <li><a href="{{url}}&answer_id={{ answers.next_page_number}} ">{{answers.next_page_number}}</a></li>
        {% endif %}
        {% if answers.number < pagenum_minus_one %}
          <li><a href="{{url}}&answer_id={{ answers.paginator.num_pages }}">{{ answers.paginator.num_pages }}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/cookie/jquery.cookie.js"></script>
  <script type="text/javascript">
    var csrftoken = $.cookie('csrftoken')
    $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
        });
        
    var del_func = function() {
      var answer = $(this).closest('.answer');
      $.post("/delete_answer", {id: $(this).data('id')})
      .done(function(response) {
          if(response.status == 'OK')
            answer.remove();
          else ;
        });
    }
        
    var like_func = function() {
        var like = $(this)
        $.post("/like", {type: like.data('type'), id: like.data('id')})
          .done(function(response) {
              $('.js_like_count').text(response.rating)
              console.log(response)
              $('.js_like').removeClass('like_'+$('.js_like').data('type')).addClass('like_'+response.status)
              $('.js_like').data('type', response.status)
            });
          }
            
    var correct_func = function() {
      var checkbox = $(this)
      var _id = $(this).parent().children('.js_correct_id').val()
      var _type = 'uncorrect'
      if (checkbox.is(':checked'))
        _type = 'correct'
      $.post("/set_correct", {type: _type, id: _id}).done(function(response) {
          if (response.status == 'OK') {
            var answer = checkbox.closest('.answer')
            if (response.answ_is_correct == true) {
              answer.addClass('alert-success')
              checkbox.prop('checked', true)
            } else {
              answer.removeClass('alert-success')
              checkbox.prop('checked', false)
            }
          } else {
            if (checkbox.is(':checked'))
              checkbox.prop('checked', false)
            else
              checkbox.prop('checked', true)
          }
        })
    };

    $('.js_like').on('click', like_func);

    $('.js_correct .js_correct_input').on('click', correct_func);
    
    $('.answer_form').submit(function() {
      var q_id = $(this).find('.q_id').val();
      var content = $(this).find('#id_content').val();
      $.post('/answer', {content: content, q_id: q_id})
      .done(function(response) {
        if (response.status == 'OK') {
          var answ_div = $("<div>")
          answ_div.addClass("answer").attr('id', 'answer_'+response.answ_id.toString())
          var info = $("<div>")
          info.addClass("info")
          var img = $("<img>").addClass("img-thumbnail").attr('height', 50)
          .attr('width', 50).attr('alt', 'Avatar').attr('src', response.userimg)
          var span1 = $("<span>").addClass("answ_author").text(response.username)
          var span2 = $("<span>").addClass('answ_date').text(response.datetime)
          var span3 = $("<span>").addClass('js_answer_delete').attr('data-id', response.answ_id.toString());
          span3.html('<span class="glyphicon glyphicon-trash"></span>').on('click', del_func);
          info.append(img).append(span1).append(span2).append(span3);
          answ_div.append(info).append(content)
          
          {% if user == question.author %}
          var form = $("<form>")
          form.addClass("js_correct")
          var input_id = $("<input>").addClass("js_correct_id").attr("type", "hidden").attr("value", response.answ_id.toString()).attr("name", "id")
          var input_chb = $("<input>").addClass("js_correct_input").attr("type", "checkbox").attr("value", "set").attr("name", "checker").attr("autocomplete", "off").on('click', correct_func)
          form.append(input_id).append(input_chb).append("Correct")
          answ_div.append(form)
          console.log(answ_div)
          {% endif %}
          
          $('#answer_list').prepend(answ_div)
        } else {
          console.log('error')
        }
      });
      return false;
    })
    
    $('.js_answer_delete').on('click', del_func);
  </script>
{% endblock %}
