{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block main %}
  <div class="col-md-8">
  <h1>Register</h1>
  <div class="alert alert-danger" id="alert" style="display:none;">
    <a class="close">&times;</a>
    <div class="alert_message"></div>
  </div>
  <form action="" method="POST" style="width:200px; margin:20px 0;" id="reg_form">{% csrf_token %}
    {{ regform.as_p }}
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/cookie/jquery.cookie.js"></script>
  <script type="text/javascript">
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'))
      }
    });
    $("#reg_form").submit(function(){
      var form = $(this)
      var _username = form.find("#id_username").val()
      var _email = form.find("#id_email").val()
      var _password = form.find("#id_password").val()
      $.post(window.location.href, {username:_username, email: _email, password: _password})
      .done(function(data) {
        if (data.status == 'OK') {
          al = $('#alert')
          al.show().removeClass('alert-danger').addClass('alert-success')
          am = al.children(".alert_message")
          am.empty();
          am.text('You have been successfully registered!');
          setTimeout(
          function(){
            window.location.href = location.protocol + '//'+location.host+data.redirect;},
          3000);
        } else {
          al = $('#alert')
          al.show().removeClass('alert-success').addClass('alert-danger')
          am = al.children(".alert_message")
          am.empty()
          data.info.forEach(function(element, index, array) {
            am.append("<strong>"+element[0]+"</strong><br/>"+element[1]+"<br/>");
          })
        }
      })
      return false;
    });
    $('.close').click(function() {
      $('.alert').hide();
    })
  </script>
{% endblock %}
