{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block main %}
  <div class="col-md-8">
  <h1>Settings: {{user.name|escape}}</h1>
  <div class="alert" id="alert" style="display:none;">
    <a class="close">&times;</a>
    <div class="alert_message"></div>
  </div>
  <form action="" method="POST" style="width:200px; margin:20px 0;" class="signup_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <input type="submit" value="Save" class="btn btn-primary">
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/cookie/jquery.cookie.js"></script>
  <script type="text/javascript">
   /* $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'))
        }
      })
    $('.signup_form').on('submit', function() {
      var form = $(this);
      var msgbox = $('.alert');
      $('.close').click();
      $.post('', form.serialize() )
      .done(function(response) {
        if (response.status=='OK') {
          msgbox.removeClass('alert-danger').addClass('alert-success')
        } else {
          msgbox.removeClass('alert-success').addClass('alert-danger')
        }
        form.find('#id_username').text(response.username)
        form.find('#id_email').text(response.email)
        $('#user_avatar').attr('src', response.src)
        msgbox.find('.alert_message').text(response.message)
        msgbox.show()
      })
      return false;
    });
    $('.close').on('click', function() {
      $(this).parent().hide();
    })*/
  </script>
{% endblock %}
